:root {
    --main-bcg: #FFFDEE;
    --even-section-bcg: #F0ECD6;
    // fonts
    --text-on-dark-background-and-white-elements: #FFFFFF; 
    --lighter-text-on-dark-background: #E5E5E5;
    --grey-text-on-dark-background: #BABABA;

    --subtitles-font-color: #B4B4B4;
    --titles-of-sections: #494848;
    --main-font-color: #7A7A7A;
    --brown-yellow-text-color: #C79002;
    --dark-color-for-elemenents-and-text: #000000;
    --forms-placeholder-font-color: #808080;

    --hover-and-decorative-YellowAkzent: #F3C653;
    --lighter-decorative-YellowAkzent-for-bordersIcons: rgba(243, 198, 83, 0.7);
    --color-of-shadow-for-images: rgba(0, 0, 0, 0.25);
    --overlay-for-back-images-sections:  rgba(0, 0, 0, 0.7);
    --overlay-for-back-images-hero: rgba(0, 0, 0, 0.65);
    --buttons-background: rgba(0, 0, 0, 0.4);
}

// F
