<section class="room-two">
  <div class="container">
    <div class="room-two__description">
      <div class="room-two__text">
        <h3 class="section__subtitle">Найкращий номер для двох</h3>
        <h2 class="section__title room__company-title">mimiho</h2>
        <h1 class="room__title">ДВОМІСНИЙ НОМЕР <span>люкс</span></h1>
        <p class="section__text room__text">
          Двоспальне ліжко, тумбочки біля ліжка, настільніе лампи, стіл,
          стільці, стіл-бюро, розкладний диван, LCD-телевізор, радіоприймач,
          шафа, місце для багажу, ванна кімната
        </p>
      </div>
      <img
        class="image-additional__shadow room-two__img"
        srcset="
          ./images/hotel_for-two-luxe-room/bedroom-244.jpg 244w,
          ./images/hotel_for-two-luxe-room/bedroom-400.jpg 400w,
          ./images/hotel_for-two-luxe-room/bedroom-460.jpg 460w,
          ./images/hotel_for-two-luxe-room/bedroom-488.jpg 488w,
          ./images/hotel_for-two-luxe-room/bedroom-800.jpg 800w,
          ./images/hotel_for-two-luxe-room/bedroom-920.jpg 920w
        "
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, 244px"
        src="./images/hotel_for-two-luxe-room/bedroom-244.jpg"
        alt="hotel_for-two-luxe-room interior"
      />
    </div>
    <div class="room-two__interaction">
      <div class="room-slider" data-slider="room-slider" dir="rtl">
        <div class="swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/rooms/shower-194.jpg 194w,
                    ./images/minslider/rooms/shower-254.jpg 254w,
                    ./images/minslider/rooms/shower-388.jpg 388w,
                    ./images/minslider/rooms/shower-508.jpg 508w
                  "
                  src="./images/minslider/rooms/shower-194.jpg"
                  sizes="(min-width: 1280px) 254px, 194px"
                  alt="table is always set"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/rooms/comfort-room-194.jpg 194w,
                    ./images/minslider/rooms/comfort-room-254.jpg 254w,
                    ./images/minslider/rooms/comfort-room-388.jpg 388w,
                    ./images/minslider/rooms/comfort-room-508.jpg 508w
                  "
                  src="./images/minslider/rooms/comfort-room-194.jpg"
                  sizes="(min-width: 1280px) 254px, 194px"
                  alt="bedroom"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/hotel/towels-194.jpg 194w,
                    ./images/minslider/hotel/towels-254.jpg 254w,
                    ./images/minslider/hotel/towels-388.jpg 388w,
                    ./images/minslider/hotel/towels-508.jpg 508w
                  "
                  src="./images/minslider/hotel/towels-194.jpg"
                  sizes="(min-width: 1280px) 254px, 194px"
                  alt="white towels"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/hotel/modern-sink-194.jpg 194w,
                    ./images/minslider/hotel/modern-sink-254.jpg 254w,
                    ./images/minslider/hotel/modern-sink-388.jpg 388w,
                    ./images/minslider/hotel/modern-sink-508.jpg 508w
                  "
                  src="./images/minslider/hotel/modern-sink-194.jpg"
                  sizes="(min-width: 1280px) 254px, 194px"
                  alt="modern sink"
                />
              </div>
            </li>
          </ul>
          <div class="swiper-btns swiper-btns--room-reverse">
            <button type="button" class="swiper-btn swiper-button-prev">
              <svg width="32" height="32">
                <use href="./images/icons-svg.svg#icon-arrow-right"></use>
              </svg>
            </button>
            <button type="button" class="swiper-btn swiper-button-next">
              <svg width="32" height="32">
                <use href="./images/icons-svg.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="room__buttons">
        <a href="./room.html" class="button--dark">Детальніше</a>
        <button class="button--dark popup-link" data-popup-btn="check-price">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
