<section class="hero hero--hotel">
    <div class="container hero--position">
      <h1 class="hero__title">mimih<span>o</span></h1>
      <h2 class="hero__subtitle hero__subtitle--hotel">Готель</h2>
      <div class="hero__interaction">
          <a href="https://goo.gl/maps/4o4s1jQRNoxdQqQe7" rel="noopener noreferrer" target="_blank" class="address-box hero__address">
              <svg width="24" height="24" class="icon-location">
                  <use href="./images/icons-svg.svg#icon-location"></use>
                </svg>
                Україна, м. Полтава, <br> вул. Маршала Бірюзова, 15
          </a>
        <div class="hero__buttons">
          <button class="button--dark-transparent hero__button popup-link" data-popup-btn="book-room">Забронювати номер</button>
          <button class="button--dark-transparent hero__button popup-link" data-popup-btn="check-price">Переглянути ціни</button>
        </div>
      </div>
      <ul class="hero__social-icons">
        <li>
          <a
            href="https://www.instagram.com/mimino.poltava/"
            target="_blank"
            rel="noreferrer noopener"
            class="social-icon__link"
          >
            <svg width="24" height="24">
              <use href="./images/icons-svg.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="social-icon__link" rel="noreferrer noopener" v>
            <svg width="24" height="24">
              <use href="./images/icons-svg.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="social-icon__link" rel="noreferrer noopener">
            <svg width="24" height="24">
              <use href="./images/icons-svg.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>
  