<section class="menu" id="menu">
  <div class="container">
    <h1 class="menu__title">меню ресторану</h1>
    <div class="menu--flex">
      <div>
        <table class="menu__table">
          <caption class="menu__table-title">
            Гарячі страви
          </caption>
          <tbody>
            <tr class="menu__table-row">
              <th class="menu__table-row_dish">
                <h2 class="menu__table-row__title">
                  Борщ з телятини з квасолею
                </h2>
                <p class="menu__table-ingredients">
                  Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </p>
              </th>
              <th class="menu__table-weight">400 г</th>
              <th class="menu__table-price">240 грн</th>
            </tr>
            <tr class="menu__table-row">
              <th class="menu__table-row_dish">
                <h2 class="menu__table-row__title">Суп сирний з куркою</h2>
                <p class="menu__table-ingredients">
                  Курятина, картопля, морква, цибуля, печериці, сир м’який,
                  зелень
                </p>
              </th>
              <th class="menu__table-weight">400 г</th>
              <th class="menu__table-price">200 грн</th>
            </tr>
            <tr class="menu__table-row">
              <th class="menu__table-row_dish">
                <h2 class="menu__table-row__title">Паста карбонара</h2>
                <p class="menu__table-ingredients">
                  Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                  овочами
                </p>
              </th>
              <th class="menu__table-weight">350 г</th>
              <th class="menu__table-price">430 грн</th>
            </tr>
            <tr class="menu__table-row">
              <th class="menu__table-row_dish">
                <h2 class="menu__table-row__title">Стейк зі свинини</h2>
                <p class="menu__table-ingredients">
                  Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </p>
              </th>
              <th class="menu__table-weight">400 г</th>
              <th class="menu__table-price">500 грн</th>
            </tr>
            <tr class="menu__table-row">
              <th class="menu__table-row_dish">
                <h2 class="menu__table-row__title">
                  Горбуша в соусі з білого вина
                </h2>
                <p class="menu__table-ingredients">
                  Ніжна горбуша, вершковий соус на основі білого вина
                </p>
              </th>
              <th class="menu__table-weight">400 г</th>
              <th class="menu__table-price">400 грн</th>
            </tr>
          </tbody>
        </table>
        <table class="menu__table">
          <caption class="menu__table-title">
            Гарніри та закуски
          </caption>
          <tbody>
            <tr class="menu__table-row">
              <th class="menu__table-row_dish">
                <h2 class="menu__table-row__title">Запечені овочі</h2>
                <p class="menu__table-ingredients">
                  Кабачок, перець, помідор, баклажан
                </p>
              </th>
              <th class="menu__table-weight">200 г</th>
              <th class="menu__table-price">230 грн</th>
            </tr>
            <tr class="menu__table-row">
              <th class="menu__table-row_dish">
                <h2 class="menu__table-row__title">Картопля фрі</h2>
                <p class="menu__table-ingredients">Картопля, соус томатний</p>
              </th>
              <th class="menu__table-weight">150 г</th>
              <th class="menu__table-price">160 грн</th>
            </tr>
            <tr class="menu__table-row">
              <th class="menu__table-row_dish">
                <h2 class="menu__table-row__title">Картопля по-селянськи</h2>
                <p class="menu__table-ingredients">
                  Картопля, спеції, соус пікантний
                </p>
              </th>
              <th class="menu__table-weight">150 г</th>
              <th class="menu__table-price">160 грн</th>
            </tr>
            <tr class="menu__table-row">
              <th class="menu__table-row_dish">
                <h2 class="menu__table-row__title">Хрумкі соління з бочки</h2>
                <p class="menu__table-ingredients">
                  Огірок солений, помідор квашений, квашена капуста, морква
                  по-корейські
                </p>
              </th>
              <th class="menu__table-weight">250 г</th>
              <th class="menu__table-price">350 грн</th>
            </tr>
            <tr class="menu__table-row">
              <th class="menu__table-row_dish">
                <h2 class="menu__table-row__title">
                  Крильця курячі в медовому соусі
                </h2>
                <p class="menu__table-ingredients">
                  Крильця курячі, гірчично-медовий соус, подається з морквою,
                  селерою і соусом блючиз
                </p>
              </th>
              <th class="menu__table-weight">400 г</th>
              <th class="menu__table-price">420 грн</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="menu__tables">
        <table class="menu__table">
          <caption class="menu__table-title">
            Салати
          </caption>
          <tbody>
            <tr class="menu__table-row">
              <th class="menu__table-row_dish">
                <h2 class="menu__table-row__title">Цезар з куркою</h2>
                <p class="menu__table-ingredients">
                  Куряче філе, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </p>
              </th>
              <th class="menu__table-weight">230 г</th>
              <th class="menu__table-price">450 грн</th>
            </tr>
            <tr class="menu__table-row">
              <th class="menu__table-row_dish">
                <h2 class="menu__table-row__title">Цезар з креветками</h2>
                <p class="menu__table-ingredients">
                  Тигрові креветки, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </p>
              </th>
              <th class="menu__table-weight">230 г</th>
              <th class="menu__table-price">300 грн</th>
            </tr>
            <tr class="menu__table-row">
              <th class="menu__table-row_dish">
                <h2 class="menu__table-row__title">Грецький салат</h2>
                <p class="menu__table-ingredients">
                  Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                  листя салату, соус
                </p>
              </th>
              <th class="menu__table-weight">230 г</th>
              <th class="menu__table-price">280 грн</th>
            </tr>
            <tr class="menu__table-row">
              <th class="menu__table-row_dish">
                <h2 class="menu__table-row__title">М’ясний салат</h2>
                <p class="menu__table-ingredients">
                    Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч
                </p>
              </th>
              <th class="menu__table-weight">230 г</th>
              <th class="menu__table-price">300 грн</th>
            </tr>
          </tbody>
        </table>
        <table class="menu__table">
            <caption class="menu__table-title">
              Десерти
            </caption>
            <tbody>
              <tr class="menu__table-row">
                <th class="menu__table-row_dish">
                  <h2 class="menu__table-row__title">Торт наполеон</h2>
                </th>
                <th class="menu__table-weight">230 г</th>
                <th class="menu__table-price">300 грн</th>
              </tr>
              <tr class="menu__table-row">
                <th class="menu__table-row_dish">
                  <h2 class="menu__table-row__title">Торт маковий</h2>
                </th>
                <th class="menu__table-weight">230 г</th>
                <th class="menu__table-price">120 грн</th>
              </tr>
              <tr class="menu__table-row">
                <th class="menu__table-row_dish">
                  <h2 class="menu__table-row__title">Тірамісу</h2>
                </th>
                <th class="menu__table-weight">120 г</th>
                <th class="menu__table-price">260 грн</th>
              </tr>
            </tbody>
          </table>
          <table class="menu__table">
            <caption class="menu__table-title">
              Напої
            </caption>
            <tbody>
              <tr class="menu__table-row">
                <th class="menu__table-row_dish">
                  <h2 class="menu__table-row__title">Чай чорний/зелений</h2>
                </th>
                <th class="menu__table-weight">500 мл</th>
                <th class="menu__table-price">100 грн</th>
              </tr>
              <tr class="menu__table-row">
                <th class="menu__table-row_dish">
                  <h2 class="menu__table-row__title">Еспресо</h2>
                </th>
                <th class="menu__table-weight">30 мл</th>
                <th class="menu__table-price">100 грн</th>
              </tr>
              <tr class="menu__table-row">
                <th class="menu__table-row_dish">
                  <h2 class="menu__table-row__title">Американо</h2>
                </th>
                <th class="menu__table-weight">150 мл</th>
                <th class="menu__table-price">100 грн</th>
              </tr>
              <tr class="menu__table-row">
                <th class="menu__table-row_dish">
                  <h2 class="menu__table-row__title">Капучино</h2>
                </th>
                <th class="menu__table-weight">200 мл</th>
                <th class="menu__table-price">160 грн</th>
              </tr>
              <tr class="menu__table-row">
                <th class="menu__table-row_dish">
                  <h2 class="menu__table-row__title">Лате</h2>
                </th>
                <th class="menu__table-weight">200 мл</th>
                <th class="menu__table-price">160 грн</th>
              </tr>
            </tbody>
          </table>
          <button type="button" class="button--dark popup-link menu__button" data-popup-btn="book-table">Забронювати столик</button>
      </div>
     
    </div>
  </div>
</section>
