<footer class="footer">
  <div class="container footer--flex">
    <h1 class="footer__logo">MIMIHO</h1>
    <div class="footer__contacts">
      <ul class="footer__nav">
        <li><a href="./index.html" class="footer__link">Головна</a></li>
        <li><a href="./restaurant.html" class="footer__link">Ресторан</a></li>
        <li><a href="./hotel.html" class="footer__link">Готель</a></li>
      </ul>
      <ul class="footer__socials">
        <li>
          <a href="https://www.instagram.com/mimino.poltava/" class="footer__social" rel="noopener noreferrer" target="_blank">
            <p class="footer__social-name">Instagram</p>
            <svg width="24" height="24" class="social-icon__link">
              <use href="./images/icons-svg.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer__social"  rel="noopener noreferrer" target="_blank">
            <p class="footer__social-name">Facebook</p>
            <svg width="24" height="24" class="social-icon__link">
              <use href="./images/icons-svg.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://web.telegram.org/" class="footer__social" rel="noopener noreferrer" target="_blank">
            <p class="footer__social-name">Telegram</p>
            <svg width="24" height="24" class="social-icon__link">
              <use href="./images/icons-svg.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
