// not to scroll

body.lock {
  overflow: hidden;
}

// backdrop
.popup {
  visibility: hidden;
  position: fixed;
  pointer-events: none;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 48, 61, 0.2);
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;

  &.open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    .popup__content {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.modal {
  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    transition: all 0.8s ease 0s;
  }
  &__content {
    padding: 60px 15px;
    // overflow-x: hidden;
    background-color: var(--main-bcg);
    max-width: 414px;
    width: 100%;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: scale(0.7);
    @include min_1024 {
      max-width: 712px;
      padding: 60px;
    }
  }
  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border: transparent;
    & > svg {
      stroke: var(--dark-color-for-elemenents-and-text);
      transition: stroke 0.6s cubic-bezier(0.53, 0.23, 0.68, 1.08);
      &:hover,
      &:focus,
      &:active {
        stroke: var(--hover-and-decorative-YellowAkzent);
      }
    }
  }
  &__input {
    border: 1px solid var(--brown-yellow-text-color);
    border-radius: 2px;
    max-width: 100%;
    height: 54px;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--forms-placeholder-font-color);
    background-color: transparent;
    transition: border-color 0.6s cubic-bezier(0.53, 0.23, 0.68, 1.08);
    &:hover,
    &:focus,
    &:active {
      border-color: var(--hover-and-decorative-YellowAkzent);
    }
    @include min_1024 {
      font-size: 24px;
      width: 288px;
      height: 64px;
    }
  }
  &__data {
    display: flex;
    flex-direction: column;
  }
}

.book-table {
  &__personal-data {
    @include max_1023 {
      margin-bottom: 20px;
    }
  }
  &__restaurant-data {
    @include min_1024 {
      margin-top: -2px;
    }
  }
  &__position {
    @include min_1024 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.book-room {
  &__personal-data {
    gap: 20px;
    margin-bottom: 20px;
    @include min_1024 {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 28px;
      gap: 0;
    }
  }
  &__restaurant-data {
    gap: 20px;
    @include min_1024 {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
    }
  }
  &__position {
    display: flex;
    flex-direction: column;
  }
  &__select {
    flex-direction: column;
    display: flex;
    margin-bottom: 20px;
    @include min_1024 {
        align-self: flex-end;
        width: 288px;
        margin-top: -2px;
        margin-bottom: 28px;
    }
  }
}

.check-price {
    .modal__data {
        @include max_1023 {
            margin-bottom: 20px;
        }
        @include min_1024 {
            width: 288px;
        }
    }
    .modal__room {
        margin-bottom: 20px;
        margin-left: 0;
    }
}

.nice-select {
  border: 1px solid var(--brown-yellow-text-color);
  border-radius: 2px;
  max-width: 100%;
  height: 54px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Times New Roman', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: var(--forms-placeholder-font-color);
  background-color: transparent;
  &::after {
    height: 15px;
    width: 15px;
    right: 20px;
    border-width: 4px;
    top: 20px;
    border-color: var(--brown-yellow-text-color);
    @include min_1024 {
      top: 27px;
    }
  }
  &.open::after {
    border-color: var(--hover-and-decorative-YellowAkzent);
  }
  &:hover,
  &:focus,
  &:active {
    border-color: var(--hover-and-decorative-YellowAkzent);
  }
  @include min_1024 {
    height: 64px;
  }
}

.modal__select {
  border: none;
}
