.minislider {
  // для кожного тут свої позначення
  margin-top: 32px;
  @media screen and (min-width: 1024px) {
    align-self: flex-end;
    // 32px
    margin-top: -32px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: -127px;
  }
  .swiper {
    // тінь
    margin-top: -60px;
    padding-top: 60px;
    @include min_414 {
      margin-right: -15px;
    }
    @include min_1024 {
      margin-right: -20px;
      margin-left: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .swiper-wrapper {
    @include min_1024 {
      max-width: 428px;
    }
    @include min_1280 {
      max-width: 548px;
    }
  }
  // спільне
  .swiper-slide {
    max-width: 245px !important;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    transition: all .5s ease-in-out;
    & .swiper-inner > img {
      object-fit: contain;
    }
    @include max_1023 {
      &.swiper-slide-next,
      &.swiper-slide-prev {
        opacity: 0.5;
      }
    }
    @include min_1024 {
      max-width: 194px !important;
    }
    @include min_1280 {
      max-width: 254px !important;
    }
  }
}
