.room-slider {
  // direction: rtl;
  
  .swiper-slide {
    width: 194px !important;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
    & .swiper-inner > img {
      object-fit: contain;
    }
    @include max_1023 {
      &.swiper-slide-next,
      &.swiper-slide-prev {
        opacity: 0.5;
      }
    }
    @include min_1280 {
      width: 254px !important;
    }
  }
  .swiper {
    @include max_1023 {
      margin-left: -15px;
    }
  }
  .swiper-wrapper,
  .swiper {
    @include min_1024 {
      max-width: 428px;
    }
    @include min_1280 {
      max-width: 548px;
    }
  }
  .swiper-btns {
    @include max_1023 {
        padding-left: 15px;
    }
    @include min_1024 {
        display: flex;
        justify-content: flex-start;
    }
  }
  .swiper-button-prev {
    margin-right: 0;
  }
  .swiper-button-next {
    margin-right: 32px;
  }
}
