.details {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 24px;
  padding-bottom: 40px;
  max-width: 2000px;
  margin: 0 auto;
  @include min_1024 {
    padding-top: 48px;
  }
  &--restaurant {
    background-image: linear-gradient(
        to top,
        var(--overlay-for-back-images-hero),
        var(--overlay-for-back-images-hero)
      ),
      url('../images/homepage_details-about-restaurant/restaurant-background-mobile@1x.jpg');
    @include retina {
      background-image: linear-gradient(
          to top,
          var(--overlay-for-back-images-hero),
          var(--overlay-for-back-images-hero)
        ),
        url('../images/homepage_details-about-restaurant/restaurant-background-mobile@2x.jpg');
    }
    @include min_1024 {
      background-image: linear-gradient(
          to top,
          var(--overlay-for-back-images-hero),
          var(--overlay-for-back-images-hero)
        ),
        url('../images/homepage_details-about-restaurant/restaurant-background-tablet@1x.jpg');
      @include retina {
        background-image: linear-gradient(
            to top,
            var(--overlay-for-back-images-hero),
            var(--overlay-for-back-images-hero)
          ),
          url('../images/homepage_details-about-restaurant/restaurant-background-tablet@2x.jpg');
      }
    }
    @include min_1280 {
      background-image: linear-gradient(
          to top,
          var(--overlay-for-back-images-hero),
          var(--overlay-for-back-images-hero)
        ),
        url('../images/homepage_details-about-restaurant/restaurant-background-desktop@1x.jpg');
      @include retina {
        background-image: linear-gradient(
            to top,
            var(--overlay-for-back-images-hero),
            var(--overlay-for-back-images-hero)
          ),
          url('../images/homepage_details-about-restaurant/restaurant-background-desktop@2x.jpg');
      }
    }
  }
  &--hotel {
    background-image: linear-gradient(
        to top,
        var(--overlay-for-back-images-hero),
        var(--overlay-for-back-images-hero)
      ),
      url('../images/homepage_details-about-hotel/hotel-background-mobile@1x.jpg');
    @include retina {
      background-image: linear-gradient(
          to top,
          var(--overlay-for-back-images-hero),
          var(--overlay-for-back-images-hero)
        ),
        url('../images/homepage_details-about-hotel/hotel-background-mobile@2x.jpg');
    }
    @include min_1024 {
      background-image: linear-gradient(
          to top,
          var(--overlay-for-back-images-hero),
          var(--overlay-for-back-images-hero)
        ),
        url('../images/homepage_details-about-hotel/hotel-background-tablet@1x.jpg');
      @include retina {
        background-image: linear-gradient(
            to top,
            var(--overlay-for-back-images-hero),
            var(--overlay-for-back-images-hero)
          ),
          url('../images/homepage_details-about-hotel/hotel-background-tablet@2x.jpg');
      }
    }
    @include min_1280 {
      background-image: linear-gradient(
          to top,
          var(--overlay-for-back-images-hero),
          var(--overlay-for-back-images-hero)
        ),
        url('../images/homepage_details-about-hotel/hotel-background-desktop@1x.jpg');
      @include retina {
        background-image: linear-gradient(
            to top,
            var(--overlay-for-back-images-hero),
            var(--overlay-for-back-images-hero)
          ),
          url('../images/homepage_details-about-hotel/hotel-background-desktop@2x.jpg');
      }
    }
  }
  &--flex {
    display: flex;
    flex-direction: column;
    &-restaurant {
      @include min_1024 {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
    &-hotel {
      @include min_1024 {
        flex-direction: row;
      }
    }
  }
  &__interaction {
    display: flex;
    flex-direction: column;
  }
  &__text {
    display: flex;
    flex-direction: column;
    max-width: 259px;
    margin-bottom: 48px;
    @include min_1024 {
      max-width: 549px;
      margin-bottom: 40px;
    }
    @include min_1280 {
      max-width: 610px;
    }
    &--restaurant {
      @include max_1023 {
        align-self: flex-end;
      }
    }
    &--hotel {
      align-self: flex-start;
      text-align: right;
      @include min_1024 {
        align-self: flex-end;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    @include min_1024 {
      justify-content: end;
      padding-bottom: 61px;
    }
  }
}
