.room-three {
  background-color: var(--even-section-bcg);
  @include paddingY(32px);
  @include min_1024 {
    padding-top: 66px;
    padding-bottom: 40px;
  }
  @include min_1280 {
    padding-top: 72px;
  }
  &__description {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    @include min_1024 {
      flex-direction: row-reverse;
      margin-bottom: 48px;
    }
    // @include between_1024_1279 {
    //   justify-content: space-around;
    // }
    @include min_1280 {
      margin-bottom: 50px;
    }
  }
  &__title {
    @include min_1024 {
      text-align: left;
    }
  }
  &__text {
    text-align: right;
    @include max_1023 {
      align-self: flex-end;
    }
    @include min_1024 {
      display: flex;
      flex-direction: column;
    }
    @include min_1280 {
      width: 511px;
    }
    &--align {
      text-align: left;
    }
  }
  &__img {
    align-self: flex-start;
    margin-top: 32px;
    position: relative;
    z-index: 99;
    @include min_1024 {
      margin-top: -98px;
      margin-right: 45px;
    }
    @include min_1280 {
      margin-top: -104px;
      margin-right: 26px;
    }
  }
  &__interaction {
    @include min_1024 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    @include min_1280 {
      align-items: center;
    }
  }
}
