.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 2000px;
  margin: 0 auto;
  &--position {
    padding-top: 181px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
    @include min_1024 {
      padding-top: 188px;
      padding-bottom: 15px;
    }
    @include min_1280 {
      padding-top: 164px;
      padding-bottom: 68px;
    }
  }
  // background for homepage
  &--homepage {
    background-image: linear-gradient(
        to top,
        var(--overlay-for-back-images-hero),
        var(--overlay-for-back-images-hero)
      ),
      url('../images/heroes/homepage-hero-mobile@1x.jpg');
    @include retina {
      background-image: linear-gradient(
          to top,
          var(--overlay-for-back-images-hero),
          var(--overlay-for-back-images-hero)
        ),
        url('../images/heroes/homepage-hero-mobile@2x.jpg');
    }
    @include min_1024 {
      background-image: linear-gradient(
          to top,
          var(--overlay-for-back-images-hero),
          var(--overlay-for-back-images-hero)
        ),
        url('../images/heroes/homepage-hero-tablet@1x.jpg');
      @include retina {
        background-image: linear-gradient(
            to top,
            var(--overlay-for-back-images-hero),
            var(--overlay-for-back-images-hero)
          ),
          url('../images/heroes/homepage-hero-tablet@2x.jpg');
      }
    }
    @include min_1280 {
      background-image: linear-gradient(
          to top,
          var(--overlay-for-back-images-hero),
          var(--overlay-for-back-images-hero)
        ),
        url('../images/heroes/homepage-hero-desktop@1x.jpg');
      @include retina {
        background-image: linear-gradient(
            to top,
            var(--overlay-for-back-images-hero),
            var(--overlay-for-back-images-hero)
          ),
          url('../images/heroes/homepage-hero-desktop@2x.jpg');
      }
    }
  }

  &--restaurant {
    background-image: linear-gradient(
        to top,
        var(--overlay-for-back-images-hero),
        var(--overlay-for-back-images-hero)
      ),
      url('../images/heroes/restaurant-hero-mobile@1x.jpg');
    @include retina {
      background-image: linear-gradient(
          to top,
          var(--overlay-for-back-images-hero),
          var(--overlay-for-back-images-hero)
        ),
        url('../images/heroes/restaurant-hero-mobile@2x.jpg');
    }
    @include min_1024 {
      background-image: linear-gradient(
          to top,
          var(--overlay-for-back-images-hero),
          var(--overlay-for-back-images-hero)
        ),
        url('../images/heroes/restaurant-hero-tablet@1x.jpg');
      @include retina {
        background-image: linear-gradient(
            to top,
            var(--overlay-for-back-images-hero),
            var(--overlay-for-back-images-hero)
          ),
          url('../images/heroes/restaurant-hero-tablet@2x.jpg');
      }
    }
    @include min_1280 {
      background-image: linear-gradient(
          to top,
          var(--overlay-for-back-images-hero),
          var(--overlay-for-back-images-hero)
        ),
        url('../images/heroes/restaurant-hero-desktop@1x.jpg');
      @include retina {
        background-image: linear-gradient(
            to top,
            var(--overlay-for-back-images-hero),
            var(--overlay-for-back-images-hero)
          ),
          url('../images/heroes/restaurant-hero-desktop@2x.jpg');
      }
    }
  }

  &--hotel {
    background-image: linear-gradient(
        to top,
        var(--overlay-for-back-images-hero),
        var(--overlay-for-back-images-hero)
      ),
      url('../images/heroes/hotel-hero-mobile@1x.jpg');
    @include retina {
      background-image: linear-gradient(
          to top,
          var(--overlay-for-back-images-hero),
          var(--overlay-for-back-images-hero)
        ),
        url('../images/heroes/hotel-hero-mobile@2x.jpg');
    }
    @include min_1024 {
      background-image: linear-gradient(
          to top,
          var(--overlay-for-back-images-hero),
          var(--overlay-for-back-images-hero)
        ),
        url('../images/heroes/hotel-hero-tablet@1x.jpg');
      @include retina {
        background-image: linear-gradient(
            to top,
            var(--overlay-for-back-images-hero),
            var(--overlay-for-back-images-hero)
          ),
          url('../images/heroes/hotel-hero-tablet@2x.jpg');
      }
    }
    @include min_1280 {
      background-image: linear-gradient(
          to top,
          var(--overlay-for-back-images-hero),
          var(--overlay-for-back-images-hero)
        ),
        url('../images/heroes/hotel-hero-desktop@1x.jpg');
      @include retina {
        background-image: linear-gradient(
            to top,
            var(--overlay-for-back-images-hero),
            var(--overlay-for-back-images-hero)
          ),
          url('../images/heroes/hotel-hero-desktop@2x.jpg');
      }
    }
  }

  &__title {
    font-family: 'Film P3', sans-serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: var(--text-on-dark-background-and-white-elements);
    text-align: center;
    text-transform: uppercase;
    > span {
      letter-spacing: normal;
    }
    @media screen and (max-width: 319px) {
      font-size: 70px;
    }
    @include min_1024 {
      font-size: 128px;
      line-height: 138px;
    }
  }
  &__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--text-on-dark-background-and-white-elements);
    @include min_1024 {
      font-size: 20px;
      line-height: 1.2;
      margin-top: 16px;
      margin-bottom: 56px;
    }
    @include min_1280 {
      margin-top: 32px;
      margin-bottom: 64px;
    }
    &--homepage {
      @include max_1023 {
        margin-top: 24px;
        margin-bottom: 40px;
      }
    }
    &--restaurant {
      @include max_1023 {
        margin-top: 20px;
        margin-bottom: 44px;
      }
    }
    &--hotel {
      font-size: 20px;
      margin-top: 32px;
      margin-bottom: 178px;
      @include min_1024 {
        margin-top: 32px;
        margin-bottom: 218px;
      }
      @include min_1280 {
        margin-bottom: 242px;
      }
    }
  }
  &__slogan {
    font-family: 'Times New Roman', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.156;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-on-dark-background-and-white-elements);
    margin-bottom: 113px;
    @include min_1024 {
      font-size: 36px;
      margin-bottom: 137px;
    }
  }
  &__address {
    @include max_1023 {
      position: absolute;
      top: 64px;
      right: 15;
    }

  }
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-bottom: 58px;
    @include min_1024 {
      flex-direction: row;
      gap: 40px;
      margin-bottom: 0;
    }
    @include min_1280 {
      gap: 60px;
    }
  }
  &__interaction {
    @include min_1024 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 25px;
    }
    @include min_1280 {
      margin-bottom: 0;
    }
  }
  &__social-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    @include min_1280 {
      display: none;
    }
  }
}
