.room-hero {
  width: 100%;
  position: relative;
  //   slider
  .swiper {
    max-height: 740px;
    @include min_1024 {
      max-height: 720px;
    }
  }
  .swiper-btns {
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top: 350px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    @media screen and (max-width: 382px) {
      display: none;
    }
    @include min_1024 {
      padding-left: calc((100vw - 1024px + 94px) / 2);
      padding-right: calc((100vw - 1024px + 94px) / 2);
      top: 341px;
    }
    @include min_1280 {
      padding-left: calc((100vw - 1280px + 170px) / 2);
      padding-right: calc((100vw - 1280px + 170px) / 2);
      top: 412px;
    }
  }
  .swiper-btn > svg {
    width: 40px;
    height: 40px;
    background: var(--overlay-for-back-images-hero);
    fill: var(--hover-and-decorative-YellowAkzent);
    transition: fill 0.6s cubic-bezier(0.53, 0.23, 0.68, 1.08);
    &:hover {
      fill: var(--text-on-dark-background-and-white-elements);
    }
  }
  .swiper-button-prev {
    margin-right: 0;
  }
  //   elements
  &::before {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 143px;
    background: linear-gradient(
      180deg,
      #000000 0%,
      rgba(0, 0, 0, 0.55) 54.17%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 2;
    @include min_1024 {
      height: 116px;
    }
    @include min_1280 {
      height: 147px;
    }
  }
  &__title {
    font-family: 'Times New Roman', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    color: var(--text-on-dark-background-and-white-elements);
    text-transform: uppercase;
    margin-bottom: 14px;
    max-width: 325px;
    @media screen and (max-width: 385px) {
      font-size: 20px;
    }
    @include min_1024 {
      font-size: 36px;
      margin-bottom: 24px;
      max-width: 100%;
    }
    & > span {
      text-transform: lowercase;
    }
  }
  &__description {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--text-on-dark-background-and-white-elements);
    max-width: 325px;
    @include min_1024 {
      font-size: 16px;
      max-width: 400px;
    }
  }
  &__text {
    @include max_1023 {
      margin-bottom: 16px;
    }
  }
  &__roomtype {
    position: absolute;
    bottom: 18px;
    z-index: 2;
    @include min_1024 {
      bottom: 22px;
    }
    @include min_1280 {
      bottom: 48px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: calc(100vw - 170px - (100vw - 1280px));
      justify-content: space-between;
    }
  }
  &__socials {
    margin-right: 72px;
    display: inline-flex;
    @media screen and (max-width: 400px) {
      margin-right: 0;
    }
    @include min_1024 {
      display: flex;
      align-items: center;
      margin-top: 24px;
      margin-right: 0;
      gap: 40px;
    }
    @include min_1280 {
      display: none;
    }
  }
  &__icons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media screen and (max-width: 352px) {
      flex-direction: row;
    }
    @include min_1024 {
      flex-direction: row;
      gap: 20px;
    }
  }
  &__button {
    display: inline-flex;
    @media screen and (min-width: 352px) and (max-width: 1023px) {
      transform: translateY(50%);
    }
    @include between_1024_1279 {
      position: absolute;
      bottom: 42px;
      right: -80%;
    }
  }
  &__address {
    &--top {
      position: absolute;
      top: 8%;
      right: calc((100vw - 414px + 30px) / 2);
      z-index: 2;
      @media screen and (max-width: 385px) {
        top: calc(10% + 5vh);
        right: 5%;
      }
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
    &--bottom {
      @media screen and (max-width: 1023px) {
        display: none;
      }
    }
  }
}
