<section class="amenities">
    <div class="container amenities--flex">
        <div class="amenities__department">
            <h1 class="amenities__title">ЗРУЧНОСТІ У НОМЕРІ</h1>
        <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="amenities-__department">
            <h2 class="amenities__subtitle">ЗАГАЛЬНІ</h2>
            <div class="amenities__text--wrapper">
                <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <div class="amenities__department">
            <h2 class="amenities__subtitle">ВАННА КІМНАТА</h2>
            <div class="amenities__text--wrapper">
                <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <div class="amenities__department">
            <h2 class="amenities__subtitle">КУХНЯ</h2>
            <div class="amenities__text--wrapper">
                <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
            </div>
        </div>
        <div class="amenities__department">
            <h2 class="amenities__subtitle">СПАЛЬНЯ</h2>
            <div class="amenities__text--wrapper">
                <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
                <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
            </div>
        </div>
        <div class="amenities__department">
            <h2 class="amenities__subtitle">МЕДІА</h2>
            <div class="amenities__text--wrapper">
                <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
            </div>
        </div>
        <div class="amenities__buttons">
            <button type="button" class="button--dark-round popup-link" data-popup-btn="book-room">ОФОРМИТИ БРОНЮВАННЯ</button>
            <a href="./hotel.html" class="amenities__link">
                Повернутися до перегляду номерів
                <svg width="24" height="24">
                    <use href="./images/icons-svg.svg#icon-arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>