<section class="contacts">
    <div class="container contacts--flex">
        <div class="contacts__text">
            <h1 class="section__title">mimiho</h1>
            <p class="contacts__subtitle">Ресторанно-готельний
                комплекс</p>
            <ul class="contacts__list">
                <li class="contacts__item">
                    <p class="contacts__department">Ресторан</p>
                    <a href="" class="contacts__link"></a>
                </li>
                <li class="contacts__item">
                    <p class="contacts__department">Готель</p>
                    <div class="contacts__box">
                        <svg width="24" height="24">
                            <use href="./images/icons-svg.svg#icon-phone"></use>
                        </svg>
                    </div>
                </li>
                <li class="contacts__item--last"></li>
            </ul>
        </div>
    </div>
</section>