<section class="contacts">
    <div class="container contacts--flex">
        <div class="contacts__text">
            <h1 class="section__title">mimiho</h1>
            <p class="contacts__subtitle">Ресторанно-готельний
                комплекс</p>
            <ul class="contacts__list">
                <li class="contacts__item">
                    <p class="contacts__department">Ресторан</p>
                    <a href="tel:0955559533" class="contacts__box">
                        <svg width="24" height="24" class="contacts__icon">
                            <use href="./images/icons-svg.svg#icon-phone"></use>
                        </svg>
                        095 555 95 33              
                    </a>
                </li>
                <li class="contacts__item">
                    <p class="contacts__department">Готель</p>
                    <div class="contacts__box">
                        <svg width="24" height="24" class="contacts__icon">
                            <use href="./images/icons-svg.svg#icon-phone"></use>
                        </svg>
                        <a href="tel:0668491089" class="contacts__tel">066 849 10 89</a>
                        <a href="tel:0672758540" class="contacts__tel">067 275 85 40</a>
                    </div>
                </li>
                <li class="contacts__item--last">
                    <svg width="24" height="24" class="contacts__icon">
                        <use href="./images/icons-svg.svg#icon-location"></use>
                    </svg>
                    Україна, м. Полтава, вул. Маршала Бірюзова, 15
                </li>
            </ul>
        </div>
    </div>
</section>