<section class="details details--hotel">
  <div class="container details--flex details--flex-hotel">
    <div class="details__interaction">
      <div class="details__text details__text--hotel">
        <h2 class="section__title section__title--light">MIMIH<span>o</span></h2>
        <p class="section__department">Готель</p>
        <p class="section__text section__text--light">
            Не зважаючи на грузинську назву «Міміно», меню ресторану містить страви як грузинської, так і європейської кухні.
        </p>
      </div>
      <div class="slider__diff slider__diff--hotel" data-slider="slider-diff" dir="rtl">
        <div class="swiper swiper--hotel">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/hotel/hotel-room-270.jpg 270w,
                    ./images/minslider/hotel/hotel-room-274.jpg 274w,
                    ./images/minslider/hotel/hotel-room-540.jpg 540w,
                    ./images/minslider/hotel/hotel-room-548.jpg 548w
                  "
                  src="./images/minslider/hotel/hotel-room-270.jpg"
                  sizes="(min-width: 1024px) 270px, 274px"
                  alt="hotel room"
                  class="swiper-img"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/hotel/egg-270.jpg 270w,
                    ./images/minslider/hotel/egg-540.jpg 540w
                  "
                  src="./images/minslider/hotel/egg-270.jpg"
                  sizes="(min-width: 1024px) 270px, 274px"
                  alt="egg"
                  class="swiper-img"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/hotel/journey-270.jpg 270w,
                    ./images/minslider/hotel/journey-540.jpg 540w
                  "
                  src="./images/minslider/hotel/journey-270.jpg"
                  sizes="(min-width: 1024px) 270px, 274px"
                  alt="journey"
                  class="swiper-img"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/hotel/reception-194.jpg 194w,
                    ./images/minslider/hotel/reception-245.jpg 245w,
                    ./images/minslider/hotel/reception-254.jpg 254w,
                    ./images/minslider/hotel/reception-388.jpg 388w,
                    ./images/minslider/hotel/reception-490.jpg 490w,
                    ./images/minslider/hotel/reception-508.jpg 508w
                  "
                  src="./images/minslider/hotel/reception-194.jpg"
                  sizes="(min-width: 1024px) 270px, 274px"
                  alt="reception"
                  class="swiper-img"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/hotel/sofa-194.jpg 194w,
                    ./images/minslider/hotel/sofa-245.jpg 245w,
                    ./images/minslider/hotel/sofa-254.jpg 254w,
                    ./images/minslider/hotel/sofa-388.jpg 388w,
                    ./images/minslider/hotel/sofa-490.jpg 490w,
                    ./images/minslider/hotel/sofa-508.jpg 508w
                  "
                  src="./images/minslider/hotel/sofa-194.jpg"
                  sizes="(min-width: 1024px) 270px, 274px"
                  alt="sofa"
                  class="swiper-img"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/hotel/bathroom-194.jpg 194w,
                    ./images/minslider/hotel/bathroom-245.jpg 245w,
                    ./images/minslider/hotel/bathroom-254.jpg 254w,
                    ./images/minslider/hotel/bathroom-388.jpg 388w,
                    ./images/minslider/hotel/bathroom-490.jpg 490w,
                    ./images/minslider/hotel/bathroom-508.jpg 508w
                  "
                  src="./images/minslider/hotel/bathroom-194.jpg"
                  sizes="(min-width: 1024px) 270px, 274px"
                  alt="bathroom"
                  class="swiper-img"
                />
              </div>
            </li>
          </ul>
          <div class="swiper-btns  swiper-btns--reverse">
            <button type="button" class="swiper-btn swiper-button-prev swiper-button-prev--reverse">
                <svg width="32" height="32">
                    <use href="./images/icons-svg.svg#icon-arrow-right"></use>
                  </svg>

            </button>
            <button type="button" class="swiper-btn swiper-button-next swiper-button-next--reverse">
                <svg width="32" height="32">
                    <use href="./images/icons-svg.svg#icon-arrow-left"></use>
                  </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="details__buttons">
        <button class="button--dark-transparent popup-link" data-popup-btn="book-room">Забронювати номер</button>
        <a href="./hotel.html#menu" class="button--dark-transparent popup-link" data-popup-btn="check-price">Переглянути ціни</a>
    </div>
  </div>
</section>


